@import url("./basic-styling/color.css");
@import url("./basic-styling/reset.css");
@import url("./basic-styling/typography.css");

@import url("./Components/index.css");

/* docs - intro css */
.gap{
    margin-bottom: 2rem;
}
.list-heading{
padding: 1rem;
font-weight: 600;
}
.list-components{
    padding-inline-start: 0;
}
.list-components a{
display: flex;
align-items: center;
}
.list-components li{
    padding: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.list-components li:hover{
    background-color: var(--primary-color);
    color:var(--off-white);
    border-radius:  0  0 50%  0;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.active{
    color: var(--primary-color);
}
.code{
    color: var(--primary-color);
}
.next-pre-btns{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: space-between;
    margin: 5rem 0;
}
.next-pre-btns .a :hover{
    color: var(--primary-color);
}
.mr-right-auto {
    margin-right: auto;
  }
  .ml-left-auto {
    margin-left: auto;
  }
  .flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  /* components */
  .container{
      min-height: 100vh;
      width: 90%;
      margin: auto;
  }

  .navbar{
      padding: 2rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .nav-links {
      display: flex;
      /* justify-content: space-evenly; */
  }
  .nav-links li{
      margin: 0 1rem;
      font-weight: 600;
  }
  .nav-links li:hover{
    color: var(--primary-color);
  }
  .nav-header{
      font-weight: 600;
      font-size: 1.5rem;
  }
  .nav-header:hover {
      color: var(--primary-color);
  }
  .content{
      margin-top: 20px;
      display: flex;
      width: 100%;
  }

  .side-nav{
      flex: 0 0 100px;
      margin: 1rem;
      padding-bottom: 1rem;
  }
  .component-container{
      flex: 1 1 0%;
      margin: 0 1 rem;
  }
  .component-title{
      margin: .5rem 0;
  }
.component-desc{
    font-size: 1.2rem;
    margin: 0.2rem 0.3rem;
    font-weight: 500;
}
.component-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem 0;
}
.component-subheading{
    font-size: 1.2rem;
    font-weight: 400;
}
.example-live {
    background-color: var(--off-white);
    max-width: 100%;
    padding: 1.5rem;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.05) 0px 4px 4px,
      rgba(0, 0, 0, 0.05) 0px 4px 4px, rgba(0, 0, 0, 0.05) 0px 8px 8px,
      rgba(0, 0, 0, 0.05) 0px 16px 16px;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .example-code {
    height: max-content;
    width: 100%;
  }
  pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 – Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
  }
  .menu-div {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    margin: 0.5rem 0;
  }
  .side-nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #menu-close {
    visibility: hidden;
  }
  
@media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 800px) {
    .side-nav {
      display: none;
    }
    .show-navbar {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      background: #fff;
      width: 100vw;
      overflow: auto;
      scroll-behavior: smooth;
      z-index: 1;
      transition: all 1s ease;
    }
    .list-components li {
      display: flex;
      justify-content: center;
    }
  
    #menu-btn,
    #menu-close {
      visibility: visible;
    }
  
    .content {
      margin: auto;
      width: 100%;
    }
  
    .component-title {
      font-size: 1.6rem;
    }
  
    .component-subHeading {
      font-size: 1.2rem;
    }
  
    .component-heading {
      font-size: 1.2rem;
    }
  
    .example-code {
      display: none;
    }
    .page-link {
      display: block;
    }
  }
  