:root {
    --text-color: hsl(184, 5%, 40%)
    --text-bg: hsl(45, 2%, 97%);
    --primary-color:#2de26d;
    --secondary-color: #1DF567;
    --danger-color: hsl(4, 96%, 35%);
    --success-color: hsl(122, 80%, 20%);
    --warning-color: hsl(25, 81%, 37%);
    --danger-hover: hsl(4, 78%, 56%);
    --success-hover: hsl(122, 42%, 39%);
    --off-white: hsl(0, 0%, 98%);
    --white-color:hsl(0, 0%, 100%);
    --gray-color:hsl(210, 6%, 45%);
     
}

