.badge-div{
   position: relative;
   max-width: 100%;
   font-size: 1.8rem;
   margin: 0 1rem;
}

.badge-number{
    font-size: 1rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 25px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: -6px;
   right: -20px;
}

.badge-notify {
    position: absolute;
    padding: 0.4rem;
    border-radius: 50%;
    left: 15px;
    top: -4px;
    background-color: var(--danger-color);
  }

  .badge-profile {
    bottom: -1px;
    right: 15px;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--off-white);
  }
  .badge-profile-offline {
    background-color: var(--danger-color);
  }
  
  .badge-profile-online {
    background-color: var(--success-color);
  }
  .badge-profile-dnd {
    background-color: var(--warning-color);
  }
  