.toast {
    padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.2;
    border-radius: 8px;
    width: 23rem;
    max-width: 90%;
    margin: 0.5rem 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
  }
  .toast-error {
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
  }
  .toast-warning {
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
  }
  .toast-success {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .toast-info {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  